
@import '../../../styles/variables';
.car-details{

  .sk_details__icon {
    margin: 0 auto;
  }
  .sk_text_centralizer {
    text-align: center;
  }

  .sk_block__text {
    margin-left: 0 !important;
    margin-right: 5px !important;
    /*text_align: justify;*/
  }

  .sk_details__icon_list_image {
    float: left;
    margin-right: 10px;
  }

  .sk_details__certified_developer {
    padding-top: 50px;
    font-size: 18px;
  }
  .sk_details__certified_have_a_question {
    margin-top: 50px;
  }

  .sk_car_details__popular_image_title {
    font-size: 1em;
    font-weight: bolder;
    color: whitesmoke
  }

  .sk_details__checkout_price {
    font-size: 26px;
    float: right;
  }

  .sk_details__checkout_container {
    margin-top: 25px;
    border: 2px solid #019bff;
    border-radius: 5px;
  }
  .sk_details__skblock {
    margin: 20px 0;
    padding: 10px 10px;
  }

  .sk_details__checkout_tab {
    background: #019bff !important;
    color: whitesmoke !important;

  }

  .sk_details__checkout_tab_inner {
    padding: 10px;
    list-style: none;
  }

  .sk_details__checkout_tab_action_button {
    margin: 0 auto;
  }

  .customInkBar{
    background-color: blue;
  }

  .dialog-btn-footer{
    margin-top: 15px;
  }

  .details-main-image{
    img{
      max-width: $max-content-width;
    }
    .carousel_caption {
      bottom: 20px;
    }

    .carousel .item {
      width: 100%; /*slider width*/
      max-height: 250px; /*slider height*/
    }

    .carousel .item img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%; /*img width*/
      height: 250px;
    }

    .car-preview__info-panel {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 13%;
      transition: height 0.25s, opacity 0.25s;
    }
  }

}
