$default-color: #019BFF;

.car-search {
  .search {
    background-color: #F8F8F8;
    padding: 20px
  }
  .search .list-inline{
    margin-top:0;
  }
  .search label{
    color: #019BFF;
    font-weight: normal;
  }
  .search .btn{
    margin : 0;
  }
  .rzslider .rz-bubble{
    color: #5A5B5C;
  }
  .rzslider .rz-bar{
    height: 2px;
  }

  .rzslider .rz-pointer {
    top: -8px;
    width: 17px;
    height: 17px;
    border-color: #0db9f0;
    border-width: 1px;
    border-style: solid;
    background: #fff;
  }

  .rzslider .rz-pointer:after{
    display: none;
  }

  .range-slider-wrapper{
    margin-bottom: 20px;

    label {
      margin: 10px 0;
      font-size: 16px;
    }

    .range-slider-wrapper__labels {
      margin-bottom: 10px;
    }
  }

  .colors .btn-group__circle{
    margin-right: 10px;
  }

  .fk-filter-advance .less{
    display: none;
    padding-right: 10px;
  }
  .fk-filter-advance .more{
    display: inline-block;
    padding-right: 10px;
  }
  .fk-filter-advance[aria-expanded="true"] .less {
    display: inline-block;
  }
  .fk-filter-advance[aria-expanded="true"] .more {
    display: none;
  }

  .sk-btn--search {
    background: transparent;
    color: $default-color;
    border-color: $default-color;

    span {
      margin-right: 10px;
    }
  }

  .fk-filter-advance {
    border: transparent !important;
    color: $default-color;
    text-decoration: none;
    outline: none;
  }
}
