@import 'base';
@import '~normalize.css/normalize';
@import "variables";


// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: $max-content-width;
  padding: 0;

  &.header-container{
    margin: 20px auto 0 auto;
    max-height: 75px;
  }

  &.footer-container {
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
  }
 }
