.sk_hero{
  display: block;
  padding-top:0;
  padding-bottom: 0;
  position: relative;
}

.sk_hero h2 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 500;
}

.sk_hero__image{
  height: 100%;
  width: 100%;
}

.sk_hero__text {
  min-height: 155px;
  width: 100%;
  /*background-color: black; /* TODO: Õige värv ja opacity */
  /*opacity: 0.5;*/
  bottom: 0;
  color: #fff;
  position: absolute;
}
.sk_hero__text:before{
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  background: black;
  opacity: 0.5;
}


.sk_hero__text h2{
  color: #fff;
}

.grid {
  padding: 30px 0;
}

.read-more-btn{
  font-size:24px;
}

.aligner{
  display: flex;
  align-items: center;
  justify-content: center;
}
