.car-preview {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  border: 1px solid #efefef;
  box-shadow: 1px 5px 7px #888888;
}

.car-preview__info-panel,
.car-preview__info-panel-bg {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  transition: height 0.25s, opacity 0.25s;
}

.car-preview:hover .car-preview__info-panel,
.car-preview:hover .car-preview__info-panel-bg {
  height: 35%;
}

.car-preview:hover .car-preview__info-panel-bg {
  opacity: 0.6;
}

.car-preview__info-panel-bg {
  background-color: black;
  opacity: 0.3;
}

.car-preview__info-panel {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.car-preview__info-panel-primary-row {
  font-size: 14px;
  font-weight: inherit;
  transition: font-size 0.25s, font-weight 0.25s;
}

.car-preview:hover .car-preview__info-panel-primary-row {
  font-size: 16px;
  font-weight: 600;
}

.car-preview__image {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
