@import '../../styles/variables';

.header-container{
  align-items: center;
  justify-content: center;

  .sk-navbar{
    height: 70px;
    .sk-menu{
      display: flex;
      font-size: 24px;
      a{
        padding: 0 20px 0 20px;
        color: $color-third;
      }
    }
  }

  .sk_logo{
    padding: 0;

    img{
      height:56px;
      margin-right: 15px;
      &:first-child{
        margin-left: 15px
      }
    }

    img + img{
      height: 48px;
    }
  }

  //.navbar_default .navbar_nav > .sk_menu__sell >a:hover,
  //.navbar_default .navbar_nav > .sk_menu__buy > a:hover{
  //  color: #5A5B5C;
  //}
  .navbar_default .navbar_nav > .sk_menu__sell >a{
    color: #FBBB68;
  }

  .navbar_default .navbar_nav > .sk_menu__buy > a{
    color: #019BFF;
  }

}

