@import '../../../../styles/variables';

.sk_details__safety__stars_outer_container {
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 5px;
  height: 60px;
  width: 410px;
}
.sk_details__safety__stars_inner_container {
  padding: 0 10px 0 0;
}
.sk_details__safety__star {
  float:left;
}
.sk_details__safety__stars_euroncap {
  float:left;
  margin-left: 50px;
  height: 50px;
}
