@import '../../styles/variables';

.footer-root {
  background: #F8F8F8;
  color: black;


  .textMuted {
    //composes: text;
    color: rgba(255, 255, 255, 0.3);
  }

  .spacer {
    color: rgba(255, 255, 255, 0.3);
  }

  .text,
  .link {
    padding: 2px 5px;
    font-size: 1em;
  }

  .link,
  .link:active,
  .link:visited {
    //color: rgba(255, 255, 255, 0.6);
    color: $color-primary;
    text-decoration: none;
  }

}
